@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
}

em { font-style: italic; }

img {
    width: 100%;
    border: 0;
    vertical-align: middle;
}

sub,
sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
    display: table;
    content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
    box-sizing: border-box;
    font-family: sans-serif;
}

a { 
    display: inline-block;
    text-decoration: none; 
}

li {
    display: inline-block;
    list-style-type: none;
}

/*for wrapper*/
.wrapper {
    max-width: 1360px;
    width: 60%; 
    margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
/*head1 style*/
.head1 {
    background-color: rgb(44,94,171);
    padding-top: 20px;
    padding-bottom: 30px;
}

h1 { display: inline-block; }

h1 a img {
    width: 150px;
    height: 30px;
}
.search-bar {
    width: 200px;
    display: inline-block;
    position: relative;
    left: 53.2%;
    background-color: rgb(65,159,226);
}

.search {
    padding: 2px;
    font-size: 12px; 
}

::placeholder { font-size: 12px; }

.go {
    padding: 0 10px;
    font-size: 12px;
    color: white;
}
/*head1 style end*/
/*head2 style start*/
.head2 { background-color: rgb(62,129,229); }
.capitalize { text-transform: capitalize; }

.menu li a {
    text-transform: capitalize;
    padding:6px 10px;
    color: white;
    font-size: 11.8px;
}

.menu li a:hover,
.menu-name.active {
    background-color: rgb(65,159,226);
}
/*head2 style end*/

/*head3 style start*/
.head3  { background-color: rgb(44,94,171); }

.head3 .wrapper { padding-top: 80px; }
.h3-title {
    font-size: 25px;
    color: rgb(253,254,254)
}
.head3 p { 
    padding-right: 63%;
    padding-bottom: 10px;
    margin-top: 18px;
    display: block;
    color: rgb(64,159,226); 
    font-size: 18px;
}

.date-place {
    display: block;
    font-size: 16px;
    color: rgb(64,159,226);
}

.find {
    margin-top: 20px;
    margin-bottom: 35px;
    padding: 6px 20px;
    display: inline-block;
    background-color: rgb(64,159,226);
    color: rgb(253,254,254);
    font-size: 12px;
}
/*head3 style end*/
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/*conference section start*/
section { margin-bottom: 30px; }

.about-section { 
    padding: 20px 0;
    font-size: 12px; 
}

.about-section a:nth-child(1):after {
    content:"\f105";
    color: rgb(19, 19, 19);
    font-size: 12px;
    font-family: "Fontawesome";
    font-weight: bold;
}

.about-section a:nth-child(1),
.about-section a:nth-child(2) {
    text-transform: capitalize;
    color: rgb(19, 19, 19);
}

h2 { 
    text-transform: capitalize;
    font-size: 22px;
    color: rgb(64,159,226);

}

.conferences-content {
    margin: 35px 0;
    display: flex;
    -webkit-display:flex;
    -moz-display:flex;
    -ms-display:flex;
    -o-display:flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
}

.conferences-content li{ width: 31.56%; }

.conferences-content li:nth-child(1),
.conferences-content li:nth-child(2),
.conferences-content li:nth-child(4),
.conferences-content li:nth-child(5) { margin-right: 20px; }

.conferences-content li img { height: 130px; }

.conferences-content li a {
    text-transform: capitalize;
    padding: 6px 0;
    display: block;
    color: rgb(64,159,226);
    font-size: 15px;
}

.locn-date {
    color: rgb(73, 72, 72);
    font-size: 13px;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 50%; 
    height: 500px; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close-mod {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
.close-mod:hover,
.close-mod:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*js style*/
.block { display: block; }
.none { display: none; }
/*conference section end*/

/*sponsor speaker section styling start*/
.sponsor,
.speaker {
    width: 37%;
    height: 158px;
    padding: 35px 45px;
    background-color: rgb(60,114,168);
}

.sponsor { display: inline-block; }
.speaker { float: right; }

.sponsor h3,
.speaker h3 {
    color: rgb(64,159,226);
    font-size: 18px;
}

.about-sponsor,
.about-speaker { padding: 12px 0; }
.about-sponsor li,
.about-speaker li {
    padding: 6px 12px;
    line-height: 1;
}
.list-points {
    font-size: 14px;
    color: rgb(253,254,254);
}
.list-points:before {
    content: "\f111";
    vertical-align: middle;
    padding-right: 10px;
    font-family: "Fontawesome";
    font-size: 7px;
}

.sponsor a,
.speaker a {
    padding: 6px 12px;
    background-color: rgb(64,159,226);
    color: rgb(253,254,254);
    font-size: 12px;
}
/*sponsor speaker section styling end*/
/*event section styling start*/
.event p {
    font-size: 13px;
    padding: 10px 0px;
}

.find-more a {
    padding: 6px 25px;
    background-color: rgb(64,159,226);
    color: rgb(253,254,254);
    font-size: 12px;
}
/*event section styling end*/
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer {
    background-color: rgb(44,94,171);
    padding-top: 35px;
}
.sign-up {
    height: 100%;
}
.sign-up h4 {
    text-transform: capitalize;
    color: rgb(64,159,226);
    font-size: 18px;
}

.sign-form {
    margin-top: 13px;
    color: rgb(253,254,254);
}

.sign-text { font-size: 14px;}
.signup-email { 
    float: right; 
    background-color: rgb(65,159,226);
}

.signup-email input[type="text"] {
    width: 220px;
    padding: 3px 2px;
}

.sign-btn { 
    padding: 0 20px;
    color: rgb(253,254,254);
    font-size: 12px;
}

.footer-nav { 
    margin: 40px 0;
    padding: 40px 0;
    display: flex;
    -webkit-display:flex;
    -moz-display:flex;
    -ms-display:flex;
    -o-display:flex;
}

.menu-f {
    width: 300px;
    color: rgb(253,254,254);
    text-transform: capitalize;
    margin: 0 60px;
    font-size: 15px;
}

.menu-f ul { padding-top: 20px; }
.menu-f ul li { display: block; }

.menu-f ul li a {
    color: rgb(253,254,254);
    font-size: 12px;
}

.menu-f ul li a:hover { text-decoration: underline; }
.footer-nav h1 { display: block; }

h5 {
    font-size: 15px;
    color: rgb(253,254,254);
}
.social ul { padding-top: 25px;}
.social ul li a {
    text-indent: -9999px;
    display: inline-block;
    position: relative;  
}

.facebook:before, 
.twitter:before,
.youtube:before, 
.linkedin:before {
    width: 18px;
    margin-right: 7px;
    border-radius: 50%;
    text-align: center;
    top: 0;
    left: 36%;
    float: right;
    text-indent: 0;
    font-family: "Fontawesome";
    font-size: 16px;
    padding: 8px;
    background: white;
   
}

.facebook:before { 
    content:"\f09a";
    color: rgb(44,94,171);
}
.twitter:before { 
    content: "\f099";
    color: rgb(0, 217, 255);
}
.youtube:before {
     content: "\f04b";
     color: rgb(252, 11, 11);
    
}
.linkedin:before {
    content: "\f0e1";
    color: rgb(9, 160, 219);
}

.backToTop {}
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  